@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* css reset start */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* css reset end */

/*css color start */
:root{
--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);


--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);
}
/*css color end */

body{
  width: 100%;
  height: 100vh;
  font-family: "Montserrat",sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Cream);
}

.main{
  height: 450px;
  width: 600px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-right{
  background: var(--White);
  padding: 30px;
  height: 99.1%;
  border-radius: 0 10px 10px 0;
}

.main-left img{
  width: 100%;
  border-radius: 10px 0 0 10px;
}

#per{
  color: var(--Grey);
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

h1{
  color: var(--Black);
  font-family: "Fraunces";
  font-weight: 700;
  margin: 20px 0;
  line-height: 33px;
}

#content{
  color: var(--Grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

section{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  height: 25%;
}

.currentPrice{
  color: var(--Green-500);
  font-family: "Fraunces";
  font-size: 32px;
  font-weight: bold;
  text-decoration-line: none;
}

section p{
  text-decoration-line: line-through;
  color: var(--Grey);
  font-weight: 500;
}

#btn{
  cursor: pointer;
  width: 100%;
  height: 50px;
  background-color: var(--Green-500);
  border: none;
  border-radius: 8px;
  color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
}

#btn:active{
  background-color: var(--Green-700);
}

/*tablet version*/
@media screen and (max-width:600px) {
  .main{
    height: 600px;
    width: 450px;
    display: flex;
    flex-direction: column;
  }
  .main-left{
    background-image: url("images/image-product-mobile.jpg");
    background-size: cover;
    height: 70%;
    border-radius: 10px 10px 0 0;
  }
  .main-left img{
    display: none;
  }
  .main-right{
    border-radius: 0 0 10px 10px;
  }

  h1{
    font-size: 30px;
    margin: 10px 0;
  }
}


/* mobile version */
@media screen and (max-width:376px) {
  
  .main{
    height: 620px;
    width: 330px;
    display: flex;
    flex-direction: column;
  }
  .main-left{
    background-image: url("images/image-product-mobile.jpg");
    background-size: cover;
    height: 70%;
    border-radius: 10px 10px 0 0;
  }
  .main-left img{
    display: none;
  }
  .main-right{
    border-radius: 0 0 10px 10px;
  }

  h1{
    font-size: 30px;
    margin: 10px 0;
  }

  #content{
    font-size: 13px;
  }
}